import os
DEBUG = True
# SQLALCHEMY_DATABASE_URI = "postgres://postgres:Creat0r%^&*@localhost:5432/mycan-dev"
SQLALCHEMY_DATABASE_URI = 'postgres://nmituqjxyoxirv:b4eb254df7dc2ddbc0d510d881ae36e97fda9d74b25d850308023764bf97ee7e@ec2-99-80-210-37.eu-west-1.compute.amazonaws.com:5432/d9cq5o0rborfit'
# Flask-Mail
MAIL_SERVER = ""
MAIL_PORT = 465
MAIL_USE_SSL = True
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
MAIL_DEFAULT_SENDER = ""
# Flask-Security config
SECURITY_URL_PREFIX = "/user"
SECURITY_PASSWORD_HASH = "sha256_crypt"
SECURITY_PASSWORD_SALT = "sha256_crypt"
SECURITY_EMAIL_SENDER = MAIL_DEFAULT_SENDER
# Flask-Security URLs, overridden because they don't put a / at the end
SECURITY_LOGIN_URL = "/login/"
SECURITY_LOGOUT_URL = "/logout/"
SECURITY_POST_LOGIN_VIEW = "/"
SECURITY_CHANGE_URL = "/change-password/"
SECURITY_RESET_URL = "/forgot-password"
# Flask-Security email subject lines
SECURITY_EMAIL_SUBJECT_REGISTER = "Welcome to middleware"
SECURITY_EMAIL_SUBJECT_PASSWORD_RESET = "Password reset instructions for your middleware account"
# Flask-Security features
SECURITY_RECOVERABLE = True
SECURITY_CHANGEABLE = True
SITE_URL = "http://localhost:5000"
CLIENT_SECRET_KEY = "your_secret_key"